* {
  font-family: sans-serif;
}

body {
  margin-left: 100px;
  margin-top: 60px;
  background-color: #333;
  color: white;
}

.container {
  border: 2px solid white;
  padding: 20px 30px;
  padding-bottom: 50px;
  width: fit-content;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.left {
  color: #95d5b2;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  margin: 0 5px;
  background-color: darkslategray;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  transition: background-color 500ms;
}

.completed {
  background-color: #0c5643;
  font-weight: 500;
}

button:hover {
  background-color: rgb(205, 45, 77);
}

input {
  font-size: 18px;
  padding: 10px 5px;
  margin: 5px 10px;
  margin-left: 0px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.close {
  padding: 5px 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  background-color: crimson;
  padding: 6px 8px;
}
.close:hover {
  background-color: rgb(88, 88, 177);
}
.todo-items {
  font-size: 16px;
  margin-bottom: 6px;
}

h1 {
  font-size: 40px;
  color: #74c69d;
}
